Strings

In [3]:
s='Hello Word'
type(s)

str

All methods in strings

In [5]:
s.capitalize
s.title
s.lower
s.upper
s.casefold

s.center
s.count
s.encode
s.endswith
s.expandtabs
s.find
s.rfind

s.format
s.format_map

s.index
s.rindex

s.isalnum
s.isalpha
s.isascii
s.isdecimal
s.isdigit
s.isidentifier
s.isnumeric
s.isprintable
s.isspace

s.istitle
s.isupper
s.islower

s.join

s.ljust
s.rjust

s.maketrans

s.partition
s.rpartition

s.replace

s.split
s.rsplit

s.splitlines
s.startswith

s.strip
s.rstrip
s.lstrip

s.swapcase
s.translate
s.zfill

String Examples

In [203]:
s='Hello Word'
s.capitalize() # Return a capitalized version of the string.

'Hello word'

In [135]:
s.lower()

'hello word'

In [134]:
s.upper()

'HELLO WORD'

In [6]:
s.title()

'Hello Word'

In [136]:
s.casefold() # Return a version of the string suitable for caseless comparisons.

'hello word'

In [130]:
s.center(20,'z') # Return a centered string of length width.

'zzzzzHelloWorldzzzzz'

In [138]:
s.count('o')

2

In [139]:
s.endswith('o')

False

In [141]:
s.encode(encoding='utf-8') # 'utf-8',"ascii" Encode the string using the codec registered for encoding

b'Hello Word'

In [142]:
'hello\thi'.expandtabs() # Expand the tab (\t)

'hello   hi'

In [206]:
s.partition('o') # returns ('h', 'e', 'llo')

('Hell', 'o', ' Word')

rpartition<br>
The rpartition() method searches for the last occurrence of a specified string, and splits the string into a tuple containing three elements.

In [205]:
s.rpartition('o')

('Hello W', 'o', 'rd')

In [10]:
s.split() # default will be space

['Hello,', 'World!']

In [9]:
s.split('o')

[' Hell', ', W', 'rld! ']

In [210]:
s.rsplit('o')

['Hell', ' W', 'rd']

Note- the output remains the same when we don’t pass any arguments or when we just provide the delimiter.

However, if we pass the arguments with maxsplit as below, you will see the difference:

In [211]:
s = "Hello people, How are you?"
s.rsplit('H', 1)

['Hello people, ', 'ow are you?']

In [146]:
s.find('W')

6

rfind:  

The rfind() method finds the last occurrence of the specified value.

The rfind() method returns -1 if the value is not found.

The rfind() method is almost the same as the rindex() method. See example below.<br>
<br>
string.rfind(value, start, end)

value:	Required. The value to search for

start:	Optional. Where to start the search. Default is 0

end:	Optional. Where to end the search. Default is to the end of the string

In [196]:
txt = "Hello, welcome to my world."
x = txt.rfind("e")
x

13

In [197]:
x = txt.rfind("e", 5, 10)
x

8

In [147]:
# format()  # Refer Formatting in Print function.pynb for your notes for more info
s = "For only {price:.2f} dollars!"
print(s.format(price = 49))
#S.format(*args, **kwargs)
#Return a formatted version of S, using substitutions from args and kwargs.
# The substitutions are identified by braces ('{' and '}').

For only 49.00 dollars!

format_map()   
Note: Refer Formatting in Print function.pynb for your notes for more info

The format_map(mapping) is similar to str.format(**mapping) method.

The only difference is that str.format(**mapping) copies the dict whereas str.format_map(mapping) makes a new dictionary during method call. This can be useful if you are working with a dict subclass.

In [164]:
s = {'x':4,'y':-5}
print('{x} {y}'.format(**s))

4 -5

In [165]:
point = {'x':4,'y':-5}
print('{x} {y}'.format_map(point))

4 -5

In [170]:
# Index
s="Hello Word"
s.index('W') #string.index(value, start, end)

6

rindex

The rindex() method finds the last occurrence of the specified value.

The rindex() method raises an exception if the value is not found.

The rindex() method is almost the same as the rfind() method. See example below.<br>
<br>
string.rindex(value, start, end)

value	Required. The value to search for<br>
start	Optional. Where to start the search. Default is 0<br>
end	Optional. Where to end the search. Default is to the end of the string<br>

In [198]:
txt = "Hello, welcome to my world."
x = txt.rindex("e")
x

13

In [199]:
x = txt.rindex("e", 5, 10)
x

8

In [171]:
s.isalnum()

False

In [172]:
s.isalpha()

False

In [173]:
s.isascii()

True

In [174]:
s.isdigit()

False

In [175]:
s.isdecimal()

False

In [176]:
s.isidentifier()

False

In [177]:
s.isnumeric()

False

In [178]:
s.isprintable()

True

In [179]:
s.isspace() # return "True" if all characters in S are whitespace.

False

In [180]:
s.istitle() # Check if each word start with an upper case letter

True

In [181]:
s.islower()

False

In [182]:
s.isupper()

False

In [183]:
# join
myTuple = ("John", "Peter", "Vicky")
x = "#".join(myTuple)
x

'John#Peter#Vicky'

In [186]:
# ljust
# string.ljust(length, character)
# Return a 20 characters long, left justified version of the word "banana":
txt = "banana"
x = txt.ljust(20,'#')
x

'banana##############'

In [7]:
# The strip() method removes any whitespace from the beginning or the end:
s=" Hello, World! "
s.strip()

'Hello, World!'

In [8]:
ugly_formatted = ' \n \t Some story to tell '
stripped = ugly_formatted.strip()

print('ugly formatted: {}'.format(ugly_formatted))
print('strip formatted: {}'.format(ugly_formatted.strip()))

ugly formatted:
 	 Some story to tell
strip formatted: Some story to tell

In [213]:
# lstrip
# string.lstrip(characters)
# Remove given charcter to the left of the string:
s = ",,,,,,.....banana......."
s.lstrip(',.')

'banana.......'

In [214]:
s.rstrip('.')

',,,,,,.....banana'

## Calling multiple methods in a row

In [11]:
ugly_mixed_case = '   ThIS LooKs BAd '
pretty = ugly_mixed_case.strip().lower().replace('bad', 'good')
print(pretty)

this looks good

** Note that execution order is from left to right. Thus, this won't work:

In [14]:
pretty = ugly_mixed_case.replace('bad', 'good').strip().lower()
print(pretty) # here replace will not change BAd to bad as it is case sensitive

this looks bad

rjust
The rjust() method will right align the string, using a specified character (space is default) as the fill character.<br>
<br>
string.rjust(length, character)<br>
length	Required. The length of the returned string<br>
character	Optional. A character to fill the missing space (to the left of the string). Default is " "(space).<br>
Return a 20 characters long, right justified version of the word "banana"

In [201]:
txt = "banana"
x = txt.rjust(20,'.')
x

'..............banana'

maketrans
The maketrans() method returns a mapping table that can be used with the translate() method to replace specified characters.
string.maketrans(x, y, z)
x	Required. If only one parameter is specified, this has to be a dictionary describing how to perform the replace. If two or more parameters are specified, this parameter has to be a string specifying the characters you want to replace.
y	Optional. A string with the same length as parameter x. Each character in the first parameter will be replaced with the corresponding character in this string.
z	Optional. A string describing which characters to remove from the original string.

In [192]:
txt = "Hi Sam!";
x = "mSa";
y = "eJo";
mytable = txt.maketrans(x, y);
print(txt.translate(mytable));

Hi Joe!

replace<br>
string.replace(oldvalue, newvalue, count)<br>
The replace() method replaces a specified phrase with another specified phrase.<br>
oldvalue:	Required. The string to search for<br>
newvalue:	Required. The string to replace the old value with<br>
count:   	Optional. A number specifying how many occurrences of the old value you want to replace. Default is all occurrences

In [195]:
txt = "one one was a race horse, two two was one too."
x = txt.replace("one", "three")
x

'three three was a race horse, two two was three too.'

splitlines<br>
The splitlines() method splits a string into a list. The splitting is done at line breaks.

In [207]:
txt = "Thank you for the music\nWelcome to the jungle"
x = txt.splitlines(True)
x

['Thank you for the music\n', 'Welcome to the jungle']

In [208]:
# startswith
txt = "Hello, welcome to my world."
x = txt.startswith("Hello")
x

True

In [ ]:
s.swapcase

In [ ]:
s.translate

In [ ]:
s.zfill

In [152]:
# Check String
txt = "The rain in Spain stays mainly in the plain"
x = "ain" in txt
x

True

In [153]:
x = "ain" not in txt
x

False

String Concatenation

In [155]:
a = "Hello "
b = "World"
c = a + b
c

'Hello World'

**<br>
strings enclosed between quotes next to each other are automatically concatenated. This feature is particularly useful when you want to break long strings:

In [21]:
'Py' 'thon'

'Python'

In [22]:
text = ('Put several strings within parentheses '
         'to have them joined together.')
text

'Put several strings within parentheses to have them joined together.'

In [24]:
prefix = 'Py'
prefix + 'thon'
#** we cant use prefix 'thon'. it will not concat variable & string. to do it use +

'Python'

In [19]:
# multiple repeatition of strings can be possiable using *
3 * 'un' + 'ium'

'unununium'

Escape Character

In [156]:
txt = "We are the so-called "Vikings" from the north."
txt
# Gives error because nested "" are used.

SyntaxError: invalid syntax (<ipython-input-156-01b17fe9f7dc>, line 1)

In [157]:
# To avoid this use escape charcter \"
txt = "We are the so-called \"Vikings\" from the north."
txt

'We are the so-called "Vikings" from the north.'

### Other Escape charcters
\'	Single Quote
\\	Backslash	
\n	New Line	
\r	Carriage Return	
\t	Tab	
\b	Backspace	
\f	Form Feed	
\ooo	Octal value	
\xhh	Hex value

Multiline Strings

In [161]:
a="""Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

**<br>
Strings are immutable.

In [26]:
a = "Hello, World!"
a[0] = 'J'

TypeError: 'str' object does not support item assignment

Strings are Arrays

In [162]:
a = "Hello, World!"
a[1]

e

Slicing

In [ ]:
s[0:5:2] # sclicing

Negative Indexing

In [163]:
b = "Hello, World!"
b[-5:-2]

orl

String Length

In [ ]:
a = "Hello, World!"
len(a)

Split the string to its each letter without using for loop

In [124]:
s='HelloWorld'
list(s)

['H', 'e', 'l', 'l', 'o', 'W', 'o', 'r', 'l', 'd']

Printing String

**<br>
\ is used as escape quotes""<br>
in the below eg, even ' came in between it is escaped

In [2]:
'Hello \'t World'

"Hello 't World"

**<br>
The print() function produces a more readable output, by omitting the enclosing quotes and by printing escaped and special characters:

***Check Python - Formatting in Print function.ipnb for more ways of implementing formatting funtion

In [3]:
print('Hello \'t World')

Hello 't World

In [10]:
t='Hello World.{}'   # {} is special charcter used for formating the string
print(t.format('How are you'))

Hello World.How are you

In [11]:
s = 'First line.\nSecond line.'  # \n means newline
print(s)

First line.
Second line.

**<br>
If you don’t want characters prefaced by \ to be interpreted as special characters, you can use raw strings by adding an r before the first quote:

In [12]:
print('C:\some\name')  # here \n means newline!

C:\some
ame

In [13]:
# to avoid printing like this use r
print(r'C:\some\name')  # note the r before the quote

C:\some\name

In [18]:
# While printing multiple lines in the below eg 1st line is coming as blank line
print("""
Usage: thingy [OPTIONS]
     -h
     -H hostname
""")

Usage: thingy [OPTIONS]
     -h
     -H hostname

In [16]:
# To avoid this 1st new line give \ after the """
print("""\
Usage: thingy [OPTIONS]
     -h
     -H hostname
""")

Usage: thingy [OPTIONS]
     -h
     -H hostname

Using of Help Funtion

In [1]:
help(str.replace)

Help on method_descriptor:

replace(self, old, new, count=-1, /)
    Return a copy with all occurrences of substring old replaced by new.

      count
        Maximum number of occurrences to replace.
        -1 (the default value) means replace all occurrences.

    If the optional argument count is given, only the first count occurrences are
    replaced.